<!DOCTYPE html>
<!-- URL is remaining -->
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}
{% block CSS %}
{% endblock %}
{% block body %}
<!--====== Start Hero Section ======-->
<section class="hero-area">
    <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(https://images.unsplash.com/photo-1564177611049-76e2933c6017?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-title-text text-center">
                        <h1 class="title">About With History</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->
<!--====== Start About Section ======-->
<section class="fancy-about fancy-about-four pt-130 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about-content-box mb-50">
                    <div class="section-title mb-25">
                        <span class="sub-title sub-title-bg blue-light-bg">what we offer</span>
                        <h2>We Care IT Business
                            to Made Great Success </h2>
                    </div>
                    <p>we are committed to helping our clients achieve great success in their IT business. We understand
                        that success in the IT industry requires a combination of factors, including offering
                        high-quality products or services, building a strong team, fostering good relationships with
                        customers and partners, and staying up-to-date on industry trends.</p>
                    <blockquote class="quote-content mb-35">
                        To support our clients in achieving great success, we offer a range of services and solutions,
                        including:
                    </blockquote>
                    <ul class="check-list list-circle-bg mb-20">
                        <li>Professional Services</li>
                        <li>Experience Advisors</li>
                        <li>Software Development</li>
                        <li>Product Engineering</li>
                    </ul>
                    <a href="{% url 'about' %}" class="main-btn btn btn-purple">learn about more</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="img-holder-box mb-50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="experience-box">
                                <div class="year">
                                    <h2>1</h2>
                                </div>
                            </div>
                            <div class="img-holder">
                                <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="About Image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="img-holder">
                                <img src="https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM0fHx0ZWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="About Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End About Section ======-->
<!--====== Start History Section ======-->
<section class="history-style-one mb-minus-130">
    <div class="container">
        <div class="history-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="history-img bg_cover"
                        style="background-image: url(https://images.unsplash.com/photo-1533746228171-962520811097?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHx0ZWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);"></div>
                </div>
                <div class="col-lg-6">
                    <div class="history-content-box">
                        <div class="year-box bg_cover">
                            <h3>20 September 2022</h3>
                            <span class="text">When We Start Our Journery</span>
                        </div>
                        <div class="content-box">
                            <blockquote class="quote-content">
                                We are grateful for the journey that has brought us to where we are today.
                            </blockquote>
                            <div class="history-content-slider">
                                <div class="single-history mb-45">
                                    <div class="text">
                                        <p>When we started our journey, we were driven by a clear vision and a passion
                                            for using technology to solve problems and improve people's lives. We knew
                                            that the IT industry was constantly evolving and that we would need to be
                                            adaptable and agile to succeed.</p>
                                    </div>
                                </div>
                                <div class="single-history mb-45">
                                    <div class="text">
                                        <p>We also knew that building strong relationships with our customers and
                                            partners would be crucial to our success. We worked hard to earn their trust
                                            and provide excellent customer service, and we continue to strive to be
                                            responsive to their needs and exceed their expectations.</p>
                                    </div>
                                </div>
                                <div class="single-history mb-45">
                                    <div class="text">
                                        <p>As we look back on our journey so far, we are proud of the progress we have
                                            made and the impact we have had. We are excited about the service and are
                                            committed to continuing to innovate and grow as we pursue our mission of
                                            using technology to make a positive difference in the world.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End History Section ======-->
<!--====== Start Service Section ======-->
<section class="service-area service-style-five bg_cover pt-220 pb-150"
    style="background-image: url(static/images/bg/block-bg-2.png)">
    <div class="container">
        <div class="row service-item-wrapper">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="block-style-seventeen animate-icon text-center blue-light-bg mb-40">
                    <div class="icon">
                        <i class="flaticon-web-design-1"></i>
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'serviceDetails' %}" class="text-underline">Web Design</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="block-style-seventeen animate-icon text-center dark-blue-bg mb-40">
                    <div class="icon">
                        <i class="flaticon-mobile-app"></i>
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'serviceDetails' %}" class="text-underline">Mobile Apps</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="block-style-seventeen animate-icon text-center dark-yellow-bg mb-40">
                    <div class="icon">
                        <i class="flaticon-cyber-security-1"></i>
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'serviceDetails' %}" class="text-underline">Cyber Security</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="block-style-seventeen animate-icon text-center dark-green-bg mb-40">
                    <div class="icon">
                        <i class="flaticon-product"></i>
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'serviceDetails' %}" class="text-underline">Product
                                Strategy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="block-style-seventeen animate-icon text-center red-dark-bg mb-40">
                    <div class="icon">
                        <i class="flaticon-target"></i>
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'serviceDetails' %}" class="text-underline">QA & Tasting</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Service Section ======-->
<!--====== Start Service Section ======-->
<!-- <section class="clients-area clients-style-two mt-minus-100">
    <div class="container">
        <div class="clients-wrapper bg_cover" style="background-image: url(static/images/bg/sponsor-bg-2.webp);">
            <div class="clients-slider-two">
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/07.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/08.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/09.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/10.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/11.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/08.png' %}" alt="clients image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--====== End Service Section ======-->
<!--====== Start Team Section ======-->
<!-- <section class="team-area team-style-two pt-130 pb-100">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-5">
                <div class="section-title mb-50">
                    <span class="sub-title sub-title-bg blue-light-bg">Team Member</span>
                    <h2>Meet Our Professionals
                        Team Member
                    </h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="button float-md-right mb-50">
                    <a href="{% url 'teamDetails' %}" class="main-btn btn-blue-light">Meet our team</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-img mb-30">
                        <img src="{% static 'images/team/img_8.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">James E. Villegas</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_9.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">Paul C. McPherson</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_10.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">James E. Villegas</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_11.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">Paul C. McPherson</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_12.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">James E. Villegas</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_13.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">Paul C. McPherson</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_14.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">James E. Villegas</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-item mb-30">
                    <div class="team-img">
                        <img src="{% static 'images/team/img_7.webp' %}" alt="team image">
                        <div class="team-overlay">
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamDetails' %}">Paul C. McPherson</a></h3>
                                <p class="position">Senior Engineer</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--====== End Team Section ======-->
<!--====== Start Testimonial Section ======-->
<section class="testimonial-area testimonial-style-two bg_cover pt-130 pb-130"
    style="background-image: url(static/images/bg/testimonial-bg-1.webp);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-50">
                    <span class="sub-title sub-title-bg blue-light-bg">Our testimonials</span>
                    <h2>What Our Clients Say About
                        Our IT Solutions</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-two">
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/Client1.png' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Quality Team”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>Quis autem veleum iure rerehenderitey qui in ea voluptate velit esse quamessc nihil molestia
                        consequatur velillum qus dolorem eum fugiat quoes.</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Robert D. Matthews</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/Client2.png' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Clean Code”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>Quis autem veleum iure rerehenderitey qui in ea voluptate velit esse quamessc nihil molestia
                        consequatur velillum qus dolorem eum fugiat quoes.</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Courtney F. Schlem</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/Client3.png' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Quality Team”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>Quis autem veleum iure rerehenderitey qui in ea voluptate velit esse quamessc nihil molestia
                        consequatur velillum qus dolorem eum fugiat quoes.</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Herbert L. McCoy</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/thumb-4.webp' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Quality Team”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>Quis autem veleum iure rerehenderitey qui in ea voluptate velit esse quamessc nihil molestia
                        consequatur velillum qus dolorem eum fugiat quoes.</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Courtney F. Schlem</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Testimonial Section ======-->
{% endblock %}
<!--====== script ======-->
{% block script %}

{% endblock %}