<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!--====== Required meta tags ======-->
    {% block meta %}

    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>Tech Sharma - IT Solutions Agency</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'images/fav/favicon-32x32.png' %}" type="image/png">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    {% block CSS %}
    {% endblock %}
</head>

<body>
    <!--====== Start Preloader ======-->
    <div class="preloader">
        <div class="loader">
            <div class="pre-shadow"></div>
            <div class="pre-box"></div>
        </div>
    </div>
    <!--====== End Preloader ======-->
    <!--====== Search From ======-->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form>
                    <div class="form_group">
                        <input type="text" class="form_control" placeholder="Search here...">
                        <button class="search_btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--====== Search From ======-->
    <!--====== Start Header Section ======-->
    <header class="theme-header theme-page-header">
        <!-- header top -->
        <div class="header-top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="top-left">
                            <ul>
                                <li><span><i class="far fa-map-marker-alt"></i>jaipur rajasthan, india</span></li>
                                <li><span><i class="far fa-envelope"></i><a
                                            href="mailto:info@Techsharma.com">info@Techsharma.com</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="top-right d-flex justify-content-end">
                            <ul class="social-link">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header Navigation -->
        <div class="header-navigation">
            <div class="container-fluid">
                <div class="primary-menu">
                    <div class="site-branding">
                        <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'images/logo/ts.png' %}"
                                alt="Site Logo"></a>
                    </div>
                    <div class="nav-menu">
                        <!-- Navbar Close -->
                        <div class="navbar-close"><i class="far fa-times"></i></div>
                        <!-- Nav Search -->
                        <div class="nav-search">
                            <form>
                                <div class="form_group">
                                    <input type="email" class="form_control" placeholder="Search Here" name="email"
                                        required>
                                    <button class="search-btn"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <ul>
                                <li class="menu-item"><a href="{% url 'index' %}">Home</a>
                                    <!-- <ul class="sub-menu">
                                            <li><a href="{% url 'index' %}">It Company</a></li>
                                            <li><a href="it-agency.html">It Agency</a></li>
                                            <li><a href="it-company.html">Software Company</a></li>
                                            <li><a href="help-desk.html">Help Desk</a></li>
                                            <li><a href="home-development.html">Home Development</a></li>
                                        </ul> -->
                                </li>
                                <li class="menu-item "><a href="{% url 'service1' %}">Services</a>
                                    <!-- <ul class="sub-menu">
                                            <li><a href="{% url 'service1' %}">Service O1</a></li>
                                            <li><a href="service-2.html">Service 02</a></li>
                                            <li><a href="{% url 'serviceDetails' %}">Service Details</a></li>
                                        </ul> -->
                                </li>
                                <!-- <li class="menu-item "><a href="{% url 'project2' %}">Cases</a>
                                    <ul class="sub-menu">
                                            <li><a href="project-1.html">Project O1</a></li>
                                            <li><a href="{% url 'project2' %}">Project 02</a></li>
                                            <li><a href="project-3.html">Project 03</a></li>
                                            <li><a href="project-details.html">Project Details</a></li>
                                        </ul>
                                </li> -->
                                <li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
                                <li class="menu-item"><a href="{% url 'about' %}">About Us</a></li>
                                <li class="menu-item"><a href="{% url 'career' %}">Career</a></li>
                                <!-- <li class="menu-item has-children"><a href="#">About</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'career' %}">Career</a></li>
                                    </ul>
                                </li> -->
                                <!-- <li class="menu-item "><a href="{% url 'blog' %}">Blog</a> -->
                                <!-- <ul class="sub-menu">
                                            <li><a href="{% url 'blog' %}">Blog Standard</a></li>
                                            <li><a href="{% url 'blogDetails' %}">Blog Details</a></li>
                                        </ul> -->
                                <!-- </li> -->
                                <li class="menu-item has-children"><a href="#">More Info</a>
                                    <ul class="sub-menu">
                                        <!-- <li><a href="{% url 'team' %}">Our Team</a></li> -->
                                        <li><a href="{% url 'teamDetails' %}">Team Details</a></li>
                                        <!-- <li class="has-children"><a href="#">Our Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="{% url 'products' %}">Products</a></li>
                                                <li><a href="{% url 'productDetails' %}">Product Details</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="{% url 'pricing' %}">Pricing</a></li>
                                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                                        <!-- <li><a href="{% url 'notFound' %}">404</a></li> -->
                                    </ul>
                                </li>
                                <li class="search-item"><a href="#" data-toggle="modal" data-target="#search-modal"><i
                                            class="fas fa-search"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right-nav">
                        <ul>
                            <!-- <li class="cart-item"><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                                <li class="lang-dropdown">
                                    <select class="wide">
                                        <option value="01">English</option>
                                        <option value="02">Russian</option>
                                    </select>
                                </li> -->
                            <li class="nav-button"><a href="{% url 'contact' %}" class="main-btn btn-blue-light">get
                                    free quote</a></li>
                            <li class="navbar-toggle-btn">
                                <div class="navbar-toggler">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====== End Header Section ======-->
    {% block body %}
    {% endblock %}
    <!--====== Start Newsletter Section ======-->
    <section class="newsletter-area newsletter-style-one">
        <div class="container">
            <div class="newsletter-wrapper bg_cover"
                style="background-image: url(static/images/bg/newsletter-bg-2.webp);">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="newsletter-content-box">
                            <div class="icon">
                                <i class="flaticon-email-1"></i>
                            </div>
                            <div class="content">
                                <h2>Get Special
                                    Rewards</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="newsletter-form">
                            <form action="{% url 'saveEmail' %}" method="post">
                                {% csrf_token %}
                                <div class="form_group">
                                    <input type="email" class="form_control" placeholder="Enter Address" name="email"
                                        required>
                                    <i class="far fa-map-marker-alt"></i>
                                    <button class="main-btn btn-black">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End Newsletter Section ======-->
    <!--====== Start Footer ======-->
    <footer class="footer-area footer-default black-bg footer-map">
        <div class="container">
            <div class="footer-widget pt-165 pb-35">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget about-widget mb-40">
                            <div class="logo mb-35">
                                <a href="{% url 'index' %}"><img src="{% static 'images/logo/ts.png' %}"
                                        alt="Theme Logo"></a>
                            </div>
                            <div class="about-content">
                                <h4 class="text-underline">Don’t Hesited to Conatct
                                    With Our Experites</h4>
                                <ul>
                                    <li><i class="far fa-envelope"></i><span><a
                                                href="mailto:info@TechSharma.com">info@TechSharma.com</a></span></li>
                                    <li><i class="far fa-map-marker-alt"></i><span>www.TechSharma.com</span></li>
                                    <!-- <li><i class="far fa-phone"></i><span><a href="tel:+012(345)67899">+012 (345) 67 899</a></span></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget footer-nav-widget mb-40">
                            <h4 class="widget-title text-underline">Best Services</h4>
                            <ul class="footer-nav list-style-dot">
                                <li><a href="{% url 'serviceDetails' %}">Web & IT Consulting</a></li>
                                <li><a href="{% url 'serviceDetails' %}">Cyber Security Solutions</a></li>
                                <li><a href="{% url 'serviceDetails' %}">Software Development</a></li>
                                <li><a href="{% url 'serviceDetails' %}">Product Enginering</a></li>
                                <li><a href="{% url 'serviceDetails' %}">Project Management</a></li>
                                <li><a href="{% url 'serviceDetails' %}">Security Solutions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget footer-nav-widget mb-40">
                            <h4 class="widget-title text-underline">IT Company</h4>
                            <ul class="footer-nav list-style-dot">
                                <li><a href="{% url 'about' %}">About Company</a></li>
                                <li><a href="#">Latest News & Blog</a></li>
                                <li><a href="#">Professional Members</a></li>
                                <li><a href="#">Our Achievment</a></li>
                                <li><a href="{% url 'teamDetails' %}">Company Journey</a></li>
                                <li><a href="{% url 'teamDetails' %}">Meet Out Teams</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget footer-nav-widget mb-40">
                            <h4 class="widget-title text-underline">Our Support</h4>
                            <ul class="footer-nav list-style-dot">
                                <li><a href="{% url 'pricing' %}">Premium Support</a></li>
                                <li><a href="{% url 'contact' %}">Need a Career ?</a></li>
                                <li><a href="{% url 'faq' %}">Help & FAQ</a></li>
                                <li><a href="{% url 'pricing' %}">Pricing and plans</a></li>
                                <li><a href="#">Cookies Policy</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-md-8">
                        <div class="text">
                            <p>Copyright &copy; 2023 TechSharma. All Right Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="social-link float-md-right float-sm-none">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--====== End Footer ======-->
    <!--====== back-to-top ======-->
    <a href="#" class="back-to-top"><i class="far fa-angle-up"></i></a>
    <!--====== Jquery js ======-->
    <script type="application/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
    <!--====== Bootstrap js ======-->
    <script type="application/javascript" src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <!--====== Bootstrap js ======-->
    <script type="application/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--====== Slick js ======-->
    <script type="application/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
    <!--====== Magnific js ======-->
    <script type="application/javascript" src="{% static 'vendor/magnificPopup/dist/jquery.magnificPopup.min.js' %}"></script>
    <!--====== Isotope js ======-->
    <script type="application/javascript" src="{% static 'vendor/isotope.min.js' %}"></script>
    <!--====== Imagesloaded js ======-->
    <script type="application/javascript" src="{% static 'vendor/imagesloaded.min.js' %}"></script>
    <!--====== Counterup js ======-->
    <script type="application/javascript" src="{% static 'vendor/jquery.counterup.min.js' %}"></script>
    <!--====== Waypoints js ======-->
    <script type="application/javascript" src="{% static 'vendor/jquery.waypoints.js' %}"></script>
    <!--====== Number js ======-->
    <script type="application/javascript" src="{% static 'vendor/jquery.nice-number.min.js' %}"></script>
    <!--====== Nice-select js ======-->
    <script type="application/javascript" src="{% static 'vendor/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <!--====== jquery UI js ======-->
    <script type="application/javascript" src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <!--====== Donutty js ======-->
    <script type="application/javascript" src="{% static 'vendor/donutty-jquery.min.js' %}"></script>
    <!--====== Main js ======-->
    <script type="application/javascript" src="{% static 'js/theme.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>