<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}
{% block CSS %}
{% endblock %}
{% block body %}
<!--====== Start Hero Section ======-->
<section class="hero-area">
    <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(static/images/bg/bcbg-career.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-title-text text-center">
                        <h1 class="title">Careers</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">Careers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->
<!--====== Start Features Section ======-->
<section class="features-area features-style-five pt-130">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="text-wrapper">
                    <div class="section-title mb-30">
                        <h2>Benifits You Receive</h2>
                        <p>Sed perspiciatis omnis natus voluptate accusantie doloremque laudantium totam rem aperiam
                            eaque quaea</p>
                    </div>
                    <div class="block-style-twentyOne d-flex">
                        <div class="icon purple-blue-bg">
                            <i class="flaticon-shield"></i>
                        </div>
                        <div class="text">
                            <h4>Security & Job Guarantee</h4>
                            <p>We strive to create a stable and long-term work environment for our employees. We have a
                                strong track record of retaining our employees and prioritize maintaining a positive and
                                supportive work culture</p>
                        </div>
                    </div>
                    <div class="block-style-twentyOne d-flex">
                        <div class="icon blue-light-bg">
                            <i class="flaticon-bonus"></i>
                        </div>
                        <div class="text">
                            <h4>Project Bonuse & Increments</h4>
                            <p>Overall, our goal is to recognize and reward the hard work and contributions of our
                                employees through various means, including project bonuses and increments.</p>
                        </div>
                    </div>
                    <div class="block-style-twentyOne d-flex">
                        <div class="icon purple-blue-bg">
                            <i class="flaticon-support"></i>
                        </div>
                        <div class="text">
                            <h4>Friendly Enviornments</h4>
                            <p>We have a diverse and inclusive culture and are committed to creating a positive and
                                supportive work environment for all of our employees.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-holder-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-holder border-top-left-radius">
                                <img src="{% static 'images/features/f1.jpg' %}" alt="Features Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-holder">
                                <img src="{% static 'images/features/f4.jpg' %}" alt="Features Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-holder">
                                <img src="{% static 'images/features/f5.jpg' %}" alt="Features Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-holder border-bottom-right-radius mt-30">
                                <img src="{% static 'images/features/f7.jpg' %}" alt="Features Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->
<!--====== Start Features Section ======-->
<section class="features-area pt-120 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-55">
                    <h2>How We Hire</h2>
                    <p>At our company, we believe that hiring the right people is crucial to our success. We follow a
                        structured process to ensure that we are able to attract and select the best candidates for each
                        position. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="block-style-twentyTwo animate-icon d-flex align-items-start mb-30">
                    <div class="icon">
                        <i class="fal fa-briefcase"></i>
                    </div>
                    <div class="text">
                        <h3>Apply Jobs</h3>
                        <p>To apply for a job, you will typically need to submit an application through the company's
                            website or job portal. This may involve completing an online form or uploading your resume
                            and cover letter</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block-style-twentyTwo animate-icon d-flex align-items-start mb-30">
                    <div class="icon">
                        <i class="fal fa-atom-alt"></i>
                    </div>
                    <div class="text">
                        <h3>Interview</h3>
                        <p>If you are selected for an interview, you may be asked to participate in one or more rounds
                            of interviews. During the interview, you may be asked questions about your skills,
                            experience, and qualifications</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block-style-twentyTwo animate-icon d-flex align-items-start mb-30">
                    <div class="icon">
                        <i class="fal fa-bell"></i>
                    </div>
                    <div class="text">
                        <h3>Notifications</h3>
                        <p>It is likely that the company will review it to determine if you meet the minimum
                            requirements for the position. If your application is selected, you may be contacted for an
                            initial phone screen or interview</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block-style-twentyTwo animate-icon d-flex align-items-start mb-30">
                    <div class="icon">
                        <i class="fal fa-headphones-alt"></i>
                    </div>
                    <div class="text">
                        <h3>Contact</h3>
                        <p>company will review the candidates and select the individual who they feel is the best fit
                            for the position. If you are selected, the company will contact you and typically extend a
                            job offer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->
<!--====== Start Job Section ======-->
<section class="job-area job-style-one light-gray-bg pb-130 pt-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-55">
                    <h2>What Jobs We Are Hiring</h2>
                    <p>please apply for the relevant job only and if rejected apply after 6 months. we appreciate your
                        decision to work with us. you can Subscribe out newsletter to get not information on opnings and
                        news realted to TechSharma. </p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-1.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-2.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-3.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-4.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-5.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-6.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-7.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-job-item text-center mb-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/c-8.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="#">Senior Design</a></h3>
                                <span class="salary"><i class="far fa-tags"></i>$250 - 859/ monthly</span>
                                <p>Quis autem veleum reprehe
                                    nderit quin voluptate</p>
                                <a href="#" class="main-btn btn-purple">apply now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button text-center mt-30">
                            <a href="#" class="main-btn btn-blue-light text-underline">View more jobs</a>
                        </div>
                    </div>
                </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-55">
                    <h2>We are not Hiring right now thanks for you intrest. </h2>
                </div>
            </div>
        </div>

    </div>
</section>
<!--====== End Job Section ======-->
{% endblock %}
<!--====== script ======-->
{% block script %}

{% endblock %}