<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    {% endblock %}
    {% block CSS %}
    {% endblock %}
    {% block body %}
        <!--====== Start Hero Section ======-->
        <section class="hero-area">
            <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="page-title-text text-center">
                                <h1 class="title">Faqs</h1>
                                <ul class="breadcrumbs-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">Faqs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Hero Section ======-->
        <!--====== Start FAQ Section ======-->
        <section class="faq-area faq-style-two pt-130 pb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq-img mb-50">
                            <img src="assets/images/features/faq-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-content-box mb-50">
                            <div class="section-title mb-30">
                                <span class="sub-title sub-title-bg blue-light-bg">Asked questions</span>
                                <h2>Any Questions On Mind?
                                Asked Questions</h2>
                            </div>
                            <div class="faq-accordian">
                                <div class="accordion" id="accordianOne">
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                                                Create An Engaging And Useful Chatbot
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                                                Design To Developer-Friendly React Code
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                                Making Remote Work Work Useful
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false">
                                                Obscure Mobile Design Techniques That Boost UX
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End FAQ Section ======-->
        <!--====== Start FAQ Section ======-->
        <section class="faq-area bg_cover pt-120 pb-130" style="background-image: url(assets/images/bg/block-bg-1.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-white text-center mb-50">
                            <span class="sub-title blue-light-bg sub-title-bg">Asked questions</span>
                            <h2>Any Questions On Mind? Asked Questions</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-accordian">
                            <div class="accordion" id="accordianTwo">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true">
                                            Gone Floating Labels & Green Lighthouse Scores
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordianTwo">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false">
                                            Scraping Websites With Node & Puppeteer
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordianTwo">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false">
                                            Scraping Websites With Node & Puppeteer
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordianTwo">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false">
                                            Obscure Mobile Design Techniques That Boost UX
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#accordianTwo">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="faq-accordian">
                            <div class="accordion" id="accordianThree">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false">
                                            Gone Floating Labels & Green Lighthouse Scores
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" data-parent="#accordianThree">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false">
                                            UI Design Testing Tools I Use All The Time
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordianThree">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true">
                                            Focus And Click Handler React Component
                                        </a>
                                    </div>
                                    <div id="collapseEleven" class="collapse show" data-parent="#accordianThree">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false">
                                            Gone Floating Labels & Green Lighthouse Scores
                                        </a>
                                    </div>
                                    <div id="collapseThirteen" class="collapse" data-parent="#accordianThree">
                                        <div class="card-body">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End FAQ Section ======-->
        <!--====== Start Contact Section ======-->
        <section class="contact-area contact-style-three bg_cover pt-130 pb-80" style="background-image: url(assets/images/bg/testimonial-bg-1.jpg);"> 
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="contact-section-box">
                            <div class="section-title mb-25">
                                <span class="sub-title sub-title-bg blue-light-bg">Need help ?</span>
                                <h2>Let’s Talk About IT
                                    Solutions</h2>
                            </div>
                            <p>On the other hand denounce righteous indige
                                ation and dislike men who are so beguiled and
                                demoralized by the charms of pleasure of the moment blinded by desire</p>
                            <ul class="social-link">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-wrapper">
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form_group">
                                            <input type="text" class="form_control" placeholder="Full Name Here" name="name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_group">
                                            <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_group">
                                            <input type="url" class="form_control" placeholder="Website" name="website" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_group">
                                            <select class="wide">
                                                <option value="01">Customer Support</option>
                                                <option value="01">Customer Support</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form_group">
                                            <textarea class="form_control" placeholder="Write Message" name="message" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form_group">
                                            <div class="col-lg-12">
                                                <button class="main-btn btn-purple">Get free consultations</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Contact Section ======-->
        {% endblock %}
        <!--====== script ======-->
        {% block script %}
        
        {% endblock %}