<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}
{% block CSS %}
{% endblock %}
{% block body %}
<!--====== Start Hero Section ======-->
<section class="hero-area">
    <div class="hero-wrapper-one hero-slider-one">
        <div class="single-slider bg_cover"
            style="background-image: url(https://images.unsplash.com/photo-1519241047957-be31d7379a5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <div class="hero-content">
                            <span class="sub-title text-underline">professional it solutions</span>
                            <h1>Architecting, developing
                                and deploying enterprise
                                IT solutions</h1>
                            <ul class="button">
                                <li><a href="{% url 'about' %}" class="main-btn ">get started now</a></li>
                                <li><a href="{% url 'servicedetails' %}" class="main-btn btn-white">explore more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg_cover"
            style="background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero-content text-center">
                            <span class="sub-title text-underline">professional it solutions</span>
                            <h1>Architecting, developing
                                and deploying enterprise
                                IT solutions{{STATIC_URL}}</h1>
                            <ul class="button">
                                <li><a href="{% url 'about' %}" class="main-btn ">get started now</a></li>
                                <li><a href="{% url 'servicedetails' %}" class="main-btn btn-white">explore more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg_cover"
            style="background-image: url(https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8">
                        <div class="hero-content text-right">
                            <span class="sub-title text-underline">professional it solutions</span>
                            <h1>Architecting, developing
                                and deploying enterprise
                                IT solutions</h1>
                            <ul class="button">
                                <li><a href="{% url 'about' %}" class="main-btn">get started now</a></li>
                                <li><a href="{% url 'servicedetails' %}" class="main-btn btn-white">explore more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->
<!--====== Start Features Section ======-->
<section class="fancy-features">
    <div class="continer-fluid p-0">
        <div class="features-style-one pt-70 pb-30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-45">
                            <span class="sub-title blue-dark text-underline">great journey for it solutions</span>
                            <h2 class="text-uppercase">specializes in building Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="block-style-one animate-icon d-flex mb-40">
                            <div class="icon">
                                <i class="flaticon-project-management"></i>
                            </div>
                            <div class="text">
                                <h3 class="title text-underline">Professional Service</h3>
                                <p>In-depth knowledge and expertise: Our team members have a wealth of knowledge and
                                    expertise in their respective fields, which enables them to provide high-quality
                                    products and services to our customers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="block-style-one animate-icon d-flex mb-40">
                            <div class="icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="text">
                                <h3 class="title text-underline">Experience Team</h3>
                                <p>At our IT company, we pride ourselves on having an experienced and knowledgeable
                                    team. Our team members have a wide range of skills and expertise, and have a proven
                                    track record of delivering high-quality products and services to our clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="block-style-one animate-icon d-flex mb-40">
                            <div class="icon">
                                <i class="flaticon-compliant"></i>
                            </div>
                            <div class="text">
                                <h3 class="title text-underline">Best IT Solutions</h3>
                                <p>At our company, we are proud to offer the best IT solutions in the industry. Our team
                                    of experts is dedicated to providing innovative and reliable solutions that meet the
                                    unique needs of our clients.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->
<!--====== Start About Section ======-->
<section class="fancy-about fancy-about-one pt-130 position-relative pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about-img-box mb-50">
                    <img src="https://images.unsplash.com/photo-1531746790731-6c087fecd65a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=806&q=80"
                        alt="About image">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="text-wrapper mb-50">
                    <div class="section-title mb-20">
                        <span class="sub-title blue-dark text-underline">who we are</span>
                        <h2 class="text-transform">using technology to solve problems and improve
                            lives</h2>
                    </div>
                    <p>We believe that the right combination of innovative thinking and cutting-edge technology can make
                        a real difference in the world, and we are passionate about using our skills and expertise to
                        help our clients succeed.Our team is made up of highly skilled and knowledgeable professionals
                        who are experts in their respective fields. We are constantly learning and staying up-to-date on
                        the latest developments in the IT industry, so that we can provide our clients with the best
                        possible solutions.s</p>
                    <a href="{% url 'about' %}" class="main-btn">learn more us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End About Section ======-->
<!--====== Start Features Section ======-->
<section class="fancy-features light-gray-bg pt-120 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-45">
                    <span class="sub-title blue-dark text-underline">what we do</span>
                    <h2 class="text-uppercase">Solutions Customers Have
                        Built with Instabase</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-two animate-icon mb-40">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-1.png' %}" alt>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Unlock trapped
                            information</h3>
                        <p>Unlock trapped information by analyzing data and applying advanced techniques to reveal insights and patterns that provide valuable knowledge for decision-making.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-two animate-icon mb-40">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-2.png' %}" alt>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Build powerful
                            solutions</h3>
                        <p>Build powerful solutions with our expertise. We offer innovative solutions and cutting-edge
                            technology to help you achieve your goals and stay ahead of the competition.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-two animate-icon mb-40">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-3.png' %}" alt>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Accelerate at
                            enterprise scale</h3>
                        <p>Accelerate enterprise-scale growth with our proven solutions. We offer advanced tools and
                            strategies to help your business succeed and stay ahead of the competition.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-two animate-icon mb-40">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-4.png' %}" alt>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Product & design
                            enginering</h3>
                        <p>Expertise in design and engineering. We turn complex ideas into tangible, real-world products
                            that exceed expectations. Let us help you bring your product ideas to life.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->
<!--====== Start CTA Section ======-->
<section class="cta-area cta-style-one bg_cover pt-70 pb-40"
    style="background-image: url(https://images.unsplash.com/photo-1556691421-cf15fe27a0b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="cta-content mb-30">
                    <h3 class="text-underline">Our team is dedicated to offering reliable, effective services while upholding high standards.
                        With us, you can be sure that your project will be finished on time. </h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="button float-lg-right float-md-none mb-30">
                    <a href="{% url 'about' %}" class="main-btn">Let’s meet us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End CTA Section ======-->
<!--====== Start Projects Section ======-->
<!-- <section class="portfolio-area pt-120 pb-125">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center mb-45">
                            <span class="sub-title blue-dark">latest Case Studies</span>
                            <h2 class="text-uppercase">over 15 years, customers have 
                                Come to IT solutions.</h2>
                        </div>
                    </div>
                </div>
                <div class="portfolio-slider-one">
                    <div class="portfolio-block-one">
                        <div class="portfolio-img">
                            <img src="{% static 'images/projects/project-1.webp' %}" alt="project image">
                        </div>
                        <div class="portfolio-content">
                            <a href="project-1.html" class="cat-btn">product design</a>
                            <h3 class="title"><a href="project-details.html" class="text-underline">STP Geospatial Engineers Helped Secure the Nation’s Borders</a></h3>
                            <p>Quis autem veleum sure reprehenderit quiine voluptate velit esse quam molestiae</p>
                            <a href="project-details.html" class="btn-link">continue reading</a>
                        </div>
                    </div>
                    <div class="portfolio-block-one">
                        <div class="portfolio-img">
                            <img src="{% static 'images/projects/project-2.webp' %}" alt="project image">
                        </div>
                        <div class="portfolio-content">
                            <a href="project-1.html" class="cat-btn">product design</a>
                            <h3 class="title"><a href="project-details.html" class="text-underline">Deploying Experts from OtherS
                                Projects to Fill Skill Gaps</a></h3>
                            <p>Quis autem veleum sure reprehenderit quiine voluptate velit esse quam molestiae</p>
                            <a href="project-details.html" class="btn-link">continue reading</a>
                        </div>
                    </div>
                    <div class="portfolio-block-one">
                        <div class="portfolio-img">
                            <img src="{% static 'images/projects/project-3.webp' %}" alt="project image">
                        </div>
                        <div class="portfolio-content">
                            <a href="project-1.html" class="cat-btn">product design</a>
                            <h3 class="title"><a href="project-details.html" class="text-underline">Providing Expertise to Keep Critical Systems Operational</a></h3>
                            <p>Quis autem veleum sure reprehenderit quiine voluptate velit esse quam molestiae</p>
                            <a href="project-details.html" class="btn-link">continue reading</a>
                        </div>
                    </div>
                    <div class="portfolio-block-one">
                        <div class="portfolio-img">
                            <img src="{% static 'images/projects/project-2.webp' %}" alt="project image">
                        </div>
                        <div class="portfolio-content">
                            <a href="project-1.html" class="cat-btn">product design</a>
                            <h3 class="title"><a href="project-details.html" class="text-underline">Deploying Experts from OtherS
                                Projects to Fill Skill Gaps</a></h3>
                            <p>Quis autem veleum sure reprehenderit quiine voluptate velit esse quam molestiae</p>
                            <a href="project-details.html" class="btn-link">continue reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!--====== End Projects Section ======-->
<!--====== Start Service Section ======-->
<section class="clients-area clients-style-one light-gray-bg pt-70 pb-80 clients-map">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center mb-45">
                    <span class="sub-title blue-dark">popular partners</span>
                    <h2 class="text-uppercase">We have <span class="blue-dark">25+</span> world wide clients</h2>
                </div>
            </div>
        </div>
        <!-- <div class="clients-wrapper">
            <div class="clients-slider-one">
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/01.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/02.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/03.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/04.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/05.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/06.png' %}" alt="clients image">
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img">
                        <img src="{% static 'images/clients/03.png' %}" alt="clients image">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!--====== End Service Section ======-->
<!--====== Start Service Section ======-->
<section class="service-area dark-black-bg pt-130 pb-130">
    <div class="container">
        <div class="row align-items-center service-style-one">
            <div class="col-lg-4">
                <div class="text-wrapper mb-40">
                    <div class="section-title section-title-white mb-20">
                        <span class="sub-title blue-dark text-underline">Our popular services</span>
                        <h2 class="text-uppercase">Best Professional
                            IT Solutiuons
                        </h2>
                    </div>
                    <p>We understand that every business has unique IT needs, and we work closely with our clients to
                        develop custom solutions that meet their specific requirements.</p>
                    <a href="{% url 'service' %}" class="main-btn">explore more services</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="service-wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="block-style-three animate-icon border-right-1">
                                <div class="icon">
                                    <i class=" flaticon-development"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title"><a href="{% url 'servicedetails' %}"
                                            class="text-underline">Development</a></h3>
                                    <p>We're a dynamic IT company, constantly evolving to stay ahead of the curve. Our focus is on delivering cutting-edge solutions that drive growth and enhance our clients' businesses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block-style-three animate-icon pr-lg-0">
                                <div class="icon">
                                    <i class="flaticon-product-development"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title"><a href="{% url 'servicedetails' %}"
                                            class="text-underline">Product
                                            Development</a></h3>
                                    <p>We are a product development company specializing in technology, innovation, and design. We help turn ideas into successful products with our expertise and cutting-edge tools.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block-style-three animate-icon border-right-1">
                                <div class="icon">
                                    <i class="flaticon-web-design"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title"><a href="{% url 'servicedetails' %}" class="text-underline">Web
                                            design</a></h3>
                                    <p>Our IT company specializes in designing modern and responsive websites that are tailored to our clients' needs. Let us create a website that represents your brand and captivates your audience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block-style-three animate-icon pr-lg-0">
                                <div class="icon">
                                    <i class="flaticon-mobile-app"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title"><a href="{% url 'servicedetails' %}" class="text-underline">Apps
                                            Development</a></h3>
                                    <p>We are a leading app development company. We specialize in creating innovative, high-quality mobile apps that help businesses reach their customers and achieve their goals.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Service Section ======-->
<!--====== Start Counter Section ======-->
<section class="counter-area counter-style-one bg_cover pt-80 pb-30"
    style="background-image: url(https://images.pexels.com/photos/363622/pexels-photo-363622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="counter-item text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-document"></i>
                    </div>
                    <h2 class="number"><span class="count">256</span>+</h2>
                    <p>Happy Customer</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="counter-item text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-rating"></i>
                    </div>
                    <h2 class="number"><span class="count">75</span>+</h2>
                    <p>Star Work Reviews</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="counter-item text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-dashboard-1"></i>
                    </div>
                    <h2 class="number"><span class="count">89</span>+</h2>
                    <p>Project Complate</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="counter-item text-center mb-40">
                    <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h2 class="number"><span class="count">9</span>+</h2>
                    <p>Win Of Awards</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Counter Section ======-->
{% endblock %}
<!--====== script ======-->
{% block script %}

{% endblock %}