<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}
{% block CSS %}
{% endblock %}
{% block body %}
<!--====== Start Hero Section ======-->
<section class="hero-area">
    <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(https://images.unsplash.com/photo-1574790398664-0cb03682ed1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-title-text text-center">
                        <h1 class="title">IT Support and Managed Services</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">IT Support and Managed Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->
<!--====== Start About Section ======-->
<section class="fancy-about fancy-about-five pt-130 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-wrapper mb-50">
                    <div class="experience-box">
                        <div class="content mb-45">
                            <h2>IT Support and Managed Services </h2>
                            <blockquote>
                                <p>IT Support and Managed Services is a service provided by IT companies to assist businesses in the ongoing management, maintenance, and support of their IT infrastructure, systems, and operations. It involves a range of activities to ensure that the client's IT environment runs smoothly, efficiently, and securely. Here's a closer look at what IT Support and Managed Services entail.</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="counter-wrapper">
                        <div class="row">
                            <div class="col-md-4 col-6 counter-column">
                                <div class="counter-item">
                                    <h2 class="number"><span class="count">256</span>+</h2>
                                    <p>Happy Customer</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 counter-column">
                                <div class="counter-item">
                                    <h2 class="number"><span class="count">75</span>+</h2>
                                    <p>Star Work Reviews</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 counter-column">
                                <div class="counter-item">
                                    <h2 class="number"><span class="count">89</span>+</h2>
                                    <p>Project Complate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-img mb-50">
                    <img src="https://images.pexels.com/photos/3912477/pexels-photo-3912477.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End About Section ======-->
<!--====== Start Features Section ======-->
<!-- <section class="features-area features-style-four mb-minus-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-eight d-flex">
                    <div class="img">
                        <img src="{% static 'images/features/img-1.webp' %}" alt="Image">
                    </div>
                    <div class="text">
                        <h3>Machine Learning</h3>
                        <p>Sed perspiciatis unde omnatus voluptate accusantie oloremque laudantiu totamrem beatae</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-eight d-flex">
                    <div class="img">
                        <img src="{% static 'images/features/img-2.webp' %}" alt="Image">
                    </div>
                    <div class="text">
                        <h3>Artificial Intelligence</h3>
                        <p>Sed perspiciatis unde omnatus voluptate accusantie oloremque laudantiu totamrem beatae</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="block-style-eight d-flex">
                    <div class="img">
                        <img src="{% static 'images/features/img-3.webp' %}" alt="Image">
                    </div>
                    <div class="text">
                        <h3>Augmented Reality</h3>
                        <p>Sed perspiciatis unde omnatus voluptate accusantie oloremque laudantiu totamrem beatae</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--====== End Features Section ======-->
<section class="features-area features-style-eight light-gray-bg pt-230 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-50">
                    <span class="sub-title sub-title-bg blue-light-bg">what we do</span>
                    <h2>Most Organize Core Features
                        For IT Support and Managed Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="block-style-twenty animate-icon d-flex mb-30">
                    <div class="icon">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Help Desk Support</h3>
                        <p> IT companies offer help desk services to provide technical assistance and support to end-users within the client's organization. This includes troubleshooting hardware and software issues, answering inquiries, resolving technical problems, and guiding users through IT-related tasks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-twenty animate-icon d-flex mb-30">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <div class="text">
                        <h3 class="text-underline"> System Monitoring and Maintenance</h3>
                        <p>IT support and managed service providers monitor the client's IT systems proactively. They use monitoring tools to track the performance and availability of servers, networks, databases, and other critical components. This allows them to identify and resolve issues promptly, perform routine maintenance tasks, and optimize system performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-twenty animate-icon d-flex mb-30">
                    <div class="icon">
                        <i class="flaticon-it"></i>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Backup and Disaster Recovery</h3>
                        <p>IT support companies help clients establish robust data backup and disaster recovery mechanisms. They develop backup strategies, implement backup solutions, and regularly monitor and test the backups to ensure data integrity and availability. In the event of a data loss or system failure, they assist in the recovery process to minimize downtime and data loss.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-twenty animate-icon d-flex mb-30">
                    <div class="icon">
                        <i class="flaticon-technical-support-1"></i>
                    </div>
                    <div class="text">
                        <h3 class="text-underline">Security Management</h3>
                        <p>Protecting the client's IT infrastructure from cyber threats is a critical aspect of IT support and managed services. Providers help implement security measures such as firewalls, antivirus software, intrusion detection systems, and encryption solutions. They monitor security logs, perform vulnerability assessments, and respond to security incidents promptly, ensuring the client's systems and data remain secure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Start CTA Section ======-->
<section class="cta-area cta-style-three bg_cover pt-140 pb-140"
    style="background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="cta-content-box text-center">
                    <h2>Ready To Get Our
                        Professional IT Support and Managed Services ?</h2>
                    <ul class="button">
                        <li><a href="{% url 'contact' %}" class="main-btn btn-blue-light">Contect Us</a></li>
                        <li><a href="{% url 'service' %}" class="main-btn btn-purple">Our services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End CTA Section ======-->
<!--====== Start Contact Section ======-->
<section class="contact-area contact-style-three bg_cover pt-130 pb-80"
    style="background-image: url(static/images/bg/testimonial-bg-1.webp);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="contact-section-box">
                    <div class="section-title section-title-two mb-25">
                        <span class="sub-title">Need help ?</span>
                        <h2>Let’s Talk About IT
                            Solutions</h2>
                    </div>
                    <p>In today's digital age, IT solutions are crucial for businesses and organizations of all sizes.
                        From software and hardware to services and support, IT solutions help organizations streamline
                        their operations, improve communication, and enhance security. But with so many options
                        available, how do you choose the right IT solutions for your business?</p>
                    <ul class="social-link">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact-wrapper">
                    <form class="contact-form" action="{% url 'saveinfo' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="text" class="form_control" placeholder="Full Name Here" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="text" class="form_control" placeholder="Phone Number" name="phone"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="email" class="form_control" placeholder="Email Address" name="email"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="url" class="form_control" placeholder="Website" name="website"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <textarea class="form_control" placeholder="Write Message" name="message"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <div class="col-lg-12">
                                        <button class="main-btn btn-purple">Get free consultations</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Contact Section ======-->
{% endblock %}
<!--====== script ======-->
{% block script %}

{% endblock %}