<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    {% endblock %}
    {% block CSS %}
    {% endblock %}
    {% block body %}
        <!--====== Start Hero Section ======-->
        <section class="hero-area">
            <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(static/images/bg/breadcrumbs-bg-1.webp);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="page-title-text text-center">
                                <h1 class="title">Portfolio Masonry</h1>
                                <ul class="breadcrumbs-link">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="active">Portfolio Masonry</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Hero Section ======-->
        <!--====== Start Projects Section ======-->
        <section class="portfolio-area pt-130 pb-70" id="masonry-portfolio">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-two text-center mb-50">
                            <span class="sub-title">Latest portfolio</span>
                            <h2>We’ve Complate 25+ Projects
                                Let’s See Our Works </h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="portfolio-filter-button text-center mb-40">
                            <ul class="filter-btn mb-30">
                                <li data-filter="*" class="active">View All</li>
                                <li data-filter=".cat-1">Software</li>
                                <li data-filter=".cat-2">Design</li>
                                <li data-filter=".cat-3">Cyber Security</li>
                                <li data-filter=".cat-4">Engineering</li>
                                <li data-filter=".cat-5">Consulting</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row masonry-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-1">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-26.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">Web Development</a></h3>
                                <a href="project-details.html" class="cat-btn">IT Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-2">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-27.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">IT Solutions Consultations</a></h3>
                                <a href="project-details.html" class="cat-btn">IT Consulting Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-3 cat-4">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-28.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">Product Engineering</a></h3>
                                <a href="project-details.html" class="cat-btn">IT Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-4 cat-5">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-30.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">Cyber Security Development</a></h3>
                                <a href="project-details.html" class="cat-btn">IT Consulting Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-5 cat-3">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-29.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">IT Business Consulting</a></h3>
                                <a href="project-details.html" class="cat-btn">Consulting Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-1">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-31.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">Product Engineering</a></h3>
                                <a href="project-details.html" class="cat-btn">IT Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-column cat-2">
                        <div class="portfolio-block-five mb-50">
                            <div class="portfolio-img">
                                <img src="{% static 'images/projects/project-32.webp' %}" alt="project Image">
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html" class="text-underline">Cyber Security Development</a></h3>
                                <a href="project-details.html" class="cat-btn">IT Consulting Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Projects Section ======-->
        {% endblock %}
        <!--====== script ======-->
        {% block script %}
        
        {% endblock %}