<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}
{% block CSS %}
{% endblock %}
{% block body %}
<!--====== Start Hero Section ======-->
<section class="hero-area">
    <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(https://images.pexels.com/photos/3862132/pexels-photo-3862132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-title-text text-center">
                        <h1 class="title">IT Services</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">IT Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->
<section class="service-area service-style-four pt-130 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center mb-50">
                    <span class="sub-title sub-title-bg blue-light-bg">it services</span>
                    <h2>Digital Innovative Solutions
                        For IT Management</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="block-style-eighteen animate-icon d-flex align-items-center mb-30">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-5.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'webDevelopement' %}" class="text-underline">Web Developement</a>
                        </h3>
                        <!-- <p>Sed ut perspiciatis unde omnis istere errorsit voluptatem accusa</p>
                        <a href="{% url 'serviceDetails' %}" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-eighteen  animate-icon d-flex align-items-center mb-30">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-6.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'app' %}" class="text-underline">Mobile Application
                                Design</a></h3>
                        <!-- <p>Sed ut perspiciatis unde omnis istere errorsit voluptatem accusa</p>
                        <a href="{% url 'serviceDetails' %}" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-eighteen  animate-icon d-flex align-items-center mb-30">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-7.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'CC' %}" class="text-underline">Cloud Computing Services</a></h3>
                        <!-- <p>Sed ut perspiciatis unde omnis istere errorsit voluptatem accusa</p>
                        <a href="{% url 'serviceDetails' %}" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-eighteen  animate-icon d-flex align-items-center mb-30">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-8.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'ITManaged' %}" class="text-underline">IT Management & Consulting</a></h3>
                        <!-- <p>Sed ut perspiciatis unde omnis istere errorsit voluptatem accusa</p>
                        <a href="{% url 'serviceDetails' %}" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-eighteen  animate-icon d-flex align-items-center mb-30">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-9.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'SoftwareDevelopment' %}" class="text-underline">Software Development</a>
                        </h3>
                        <!-- <p>Sed ut perspiciatis unde omnis istere errorsit voluptatem accusa</p>
                        <a href="{% url 'serviceDetails' %}" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-style-eighteen animate-icon d-flex align-items-center mb-30">
                    <div class="icon">
                        <img src="{% static 'images/icon/icon-10.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h3 class="title"><a href="{% url 'Seo' %}" class="text-underline">Seo Services</a></h3>
                        <!-- <p>Sed ut perspiciatis unde omnis istere errorsit voluptatem accusa</p>
                        <a href="{% url 'serviceDetails' %}" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="button text-center mt-30">
                    <a href="{% url 'serviceDetails' %}" class="main-btn btn-blue-light">view more services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Start CTA Section ======-->
<section class="cta-area cta-style-three bg_cover pt-140 pb-140"
    style="background-image: url(https://images.pexels.com/photos/249203/pexels-photo-249203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="cta-content-box text-center">
                    <h2>Ready To Get Our
                        Professional IT Services ?</h2>
                    <ul class="button">
                        <li><a href="{% url 'teamDetails' %}" class="main-btn btn-blue-light">Meet the team</a></li>
                        <li><a href="{% url 'service' %}" class="main-btn btn-purple">Our services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End CTA Section ======-->
<!--====== Start Testimonial Section ======-->
<section class="testimonial-area testimonial-style-two bg_cover pt-130 pb-130"
    style="background-image: url(static/images/bg/testimonial-bg-1.webp);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center mb-50">
                    <span class="sub-title sub-title-bg blue-light-bg">Our testimonials</span>
                    <h2>What Our Clients Say About
                        Our IT Solutions</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-two">
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/Client1.png' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Quality Team”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>It has been a game-changer for our organization. Not only have they helped us
                        troubleshoot and resolve technical issues, but they have also provided valuable guidance and
                        recommendations on how we can improve our IT systems. Their team is always responsive,
                        professional, and a pleasure to work with. We highly recommend them</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Robert D. Matthews</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/Client2.png' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Clean Code”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>We have been extremely satisfied with the level of service we have received from this IT company.
                        They have always been there for us when we need them and have gone above and beyond to help us
                        with any issues or challenges we have faced. We couldn't be happier with the results they have
                        helped us achieve and would highly recommend them to anyone in need of IT support.</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Courtney F. Schlem</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="wt-thumb-box">
                    <div class="thumb">
                        <img src="{% static 'images/testimonial/Client3.png' %}" alt="testimonial image">
                    </div>
                    <div class="comment">
                        <h5>“Quality Team”</h5>
                    </div>
                </div>
                <div class="wt-content">
                    <p>We have been working with this IT company for the past year and have been extremely impressed
                        with their level of service. They have always been quick to respond to our needs and have
                        provided us with valuable solutions that have helped our business thrive. We highly recommend
                        them to anyone in need of IT support.</p>
                    <div class="quote-title-box">
                        <div class="quote">
                            <i class="flaticon-quotation"></i>
                        </div>
                        <div class="author-title">
                            <h5>Herbert L. McCoy</h5>
                            <span class="position">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Testimonial Section ======-->
{% endblock %}
<!--====== script ======-->
{% block script %}

{% endblock %}