<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}
{% block CSS %}
{% endblock %}
{% block body %}
<!--====== Start Hero Section ======-->
<section class="hero-area">
    <div class="breadcrumbs-wrapper bg_cover" style="background-image: url(static/images/bg/bcbg-team.webp);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-title-text text-center">
                        <h1 class="title">Team Details</h1>
                        <ul class="breadcrumbs-link">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">Team Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->
<!--====== Start Team Details Section ======-->
<section class="team-details-section pt-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-12">
                <div class="team-content mb-50">
                    <div class="member-info">
                        <h3>Tech Sharma</h3>
                        <p class="position">Web Developers</p>
                        <p>As a professional IT service provider, we pride ourselves on our skills and expertise in a
                            range of areas. Our team is made up of highly trained and experienced professionals who are
                            dedicated to delivering top-quality IT services to our clients.</p>
                        <ul class="social-link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-img">
                        <img src="{% static 'images/team/team.webp' %}" alt="Member Image">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="counter-style-three mb-50">
                    <div class="counter-item">
                        <div class="icon">
                            <i class="flaticon-document"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">256</span>+</h2>
                            <p>Happy Customer</p>
                        </div>
                    </div>
                    <div class="counter-item">
                        <div class="icon">
                            <i class="flaticon-rating"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">75</span>+</h2>
                            <p>Star Work Reviews</p>
                        </div>
                    </div>
                    <div class="counter-item">
                        <div class="icon">
                            <i class="flaticon-dashboard-1"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">89</span>+</h2>
                            <p>Project Complate</p>
                        </div>
                    </div>
                    <div class="counter-item">
                        <div class="icon">
                            <i class="flaticon-trophy"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">9</span>+</h2>
                            <p>Win Of Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Team Details Section ======-->
<!--====== Start Skill Section ======-->
<section class="skill-area skill-style-two pt-80 pb-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="skill-content-box">
                    <div class="section-title mb-40">
                        <span class="sub-title sub-title-bg blue-light-bg">latest skills</span>
                        <h2>Our Professional IT
                            Service Skills</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="skill-item mb-40">
                            <div class="skill-bar mb-20">
                                <div class="circle" data-donutty data-thickness='10' data-padding='0' data-value='89'
                                    data-bg="rgba(67, 186, 255, 0.1)" data-round=false data-color="#43baff"></div>
                                <h2 class="number"><span class="count">89</span>%</h2>
                            </div>
                            <div class="text">
                                <h3 class="title">IT Consulting</h3>
                                <p>Increased efficiency and productivity for businesses</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="skill-item mb-40">
                            <div class="skill-bar mb-20">
                                <div class="circle" data-donutty data-thickness='10' data-padding='0' data-value='67'
                                    data-bg="rgba(113, 65, 177, 0.1)" data-round=false data-color="#7141b1"></div>
                                <h2 class="number"><span class="count">67</span>%</h2>
                            </div>
                            <div class="text">
                                <h3 class="title">Management</h3>
                                <p>Improved customer satisfaction</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="skill-item mb-40">
                            <div class="skill-bar mb-20">
                                <div class="circle" data-donutty data-thickness='10' data-padding='0' data-value='53'
                                    data-bg="rgba(253, 74, 24, 0.1)" data-round=false data-color="#fd4a18"></div>
                                <h2 class="number"><span class="count">53</span>%</h2>
                            </div>
                            <div class="text">
                                <h3 class="title">UX/UI Strategy</h3>
                                <p>We take a user-centered approach to UI/UX design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Skill Section ======-->
<!--====== Start Fancy Block Section ======-->
<section class="fancy-text-block fancy-text-block-twelve light-gray-bg pt-120 pb-130">
    <div class="container">
        <div class="fancy-block-wrapper">
            <div class="row align-items-center no-gutters">
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="{% static 'images/block/g1.webp' %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-wrapper">
                        <div class="section-title mb-25">
                            <span class="sub-title sub-title-bg btn-blue-light">Service & solutions</span>
                            <h2>We’re Very Professional
                                & Experience Agency </h2>
                        </div>
                        <p>We have worked with a wide range of clients in the tech industry, and have helped them
                            achieve their business goals through the use of innovative solutions and cutting-edge
                            technologies. Whether you need assistance with software development, website design, or
                            digital marketing, we have the knowledge and resources to help you succeed.</p>
                        <a href="service-2.html" class="main-btn btn-purple">Get our services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Fancy Block Section ======-->
<!--====== Start CTA Section ======-->
<section class="cta-area cta-style-four bg_cover pt-70 pb-70"
    style="background-image: url(static/images/bg/teamDatails-bg.webp);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="cta-content">
                    <h3>Full Truckload Planning Reimagined Experts in Security
                        Dynamic Load Planning & Dispatching</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="button float-md-right">
                    <a href="{% url 'contact' %}" class="main-btn btn-blue-light">Let’s meet us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End CTA Section ======-->
<!--====== Start Contact Section ======-->
<section class="contact-area contact-style-three bg_cover pt-130 pb-80"
    style="background-image: url(static/images/bg/testimonial-bg-1.webp);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="contact-section-box">
                    <div class="section-title mb-25">
                        <span class="sub-title sub-title-bg btn-blue-light">Need help ?</span>
                        <h2>Let’s Talk About IT
                            Solutions</h2>
                    </div>
                    <p>In today's digital age, IT solutions are crucial for businesses and organizations of all sizes.
                        From software and hardware to services and support, IT solutions help organizations streamline
                        their operations, improve communication, and enhance security. But with so many options
                        available, how do you choose the right IT solutions for your business?</p>
                    <ul class="social-link">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact-wrapper">
                    <form class="contact-form" action="{% url 'saveInfo' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="text" class="form_control" placeholder="Full Name Here" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="text" class="form_control" placeholder="Phone Number" name="phone"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="email" class="form_control" placeholder="Email Address" name="email"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="url" class="form_control" placeholder="Website" name="website"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <textarea class="form_control" placeholder="Write Message" name="message"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <div class="col-lg-12">
                                        <button class="main-btn btn-purple">Get free consultations</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Contact Section ======-->
{% endblock %}
<!--====== script ======-->
{% block script %}

{% endblock %}