<!DOCTYPE html>
<html lang="en">
    <head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Title ======-->
        <title>Muntech It Solution Agency HTML</title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="assets/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--====== Responsive css ======-->
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <!--====== Start Preloader ======-->
        <div class="preloader">
            <div class="loader">
                <div class="pre-shadow"></div>
                <div class="pre-box"></div>
            </div>
        </div>
        <!--====== End Preloader ======-->
        <!--====== Search From ======-->
		<div class="modal fade" id="search-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form>
                        <div class="form_group">
                        	<input type="text" class="form_control" placeholder="Search here...">
                        	<button class="search_btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--====== Search From ======-->
        <!--====== Start Header Section ======-->
        <header class="theme-header theme-header-four">
            <!-- header Navigation -->
            <div class="header-navigation navigation-blue-dark">
                <div class="container-fluid">
                    <div class="primary-menu">
                        <div class="site-branding">
                            <a href="{% url 'index' %}" class="brand-logo"><img src="assets/images/logo/logo-7.png" alt="Site Logo"></a>
                        </div>
                        <div class="nav-menu">
                            <!-- Navbar Close -->
                            <div class="navbar-close"><i class="far fa-times"></i></div>
                            <!-- Nav Search -->
                            <div class="nav-search">
                                <form>
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Search Here" name="email" required>
                                        <button class="search-btn"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <ul>
                                    <li class="menu-item has-children"><a href="#">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'index' %}">It Company</a></li>
                                            <li><a href="it-agency.html">It Agency</a></li>
                                            <li><a href="it-company.html">Software Company</a></li>
                                            <li><a href="help-desk.html">Help Desk</a></li>
                                            <li><a href="home-development.html">Home Development</a></li>
                                            <!-- <li><a href="data-science.html">Data Science</a></li>
                                            <li><a href="dark-e-wallet.html">Dark E-Wallet</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">About</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'about' %}">About Us</a></li>
                                            <li><a href="{% url 'career' %}">Career</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Services</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'service1' %}">Service O1</a></li>
                                            <li><a href="service-2.html">Service 02</a></li>
                                            <li><a href="{% url 'serviceDetails' %}">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Case Studies</a>
                                        <ul class="sub-menu">
                                            <li><a href="project-1.html">Project O1</a></li>
                                            <li><a href="{% url 'project2' %}">Project 02</a></li>
                                            <li><a href="project-3.html">Project 03</a></li>
                                            <li><a href="project-details.html">Project Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'blog' %}">Blog Standard</a></li>
                                            <li><a href="{% url 'blogDetails' %}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item has-children"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'team' %}">Our Team</a></li>
                                            <li><a href="{% url 'teamDetails' %}">Team Details</a></li>
                                            <li class="has-children"><a href="#">Our Shop</a>
                                                <ul class="sub-menu">
                                                    <li><a href="{% url 'products' %}">Products</a></li>
                                                    <li><a href="{% url 'productDetails' %}">Product Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'pricing' %}">Pricing</a></li>
                                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                                            <li><a href="{% url 'notFound' %}">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
                                    <li class="search-item"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right-nav">
                            <ul>
                                <li class="lang-dropdown">
                                    <select class="wide">
                                        <option value="01">En</option>
                                        <option value="02">Ru</option>
                                    </select>
                                </li>
                                <li class="login"><a href="#"><span>Log in</span></a></li>
                                <li class="nav-button"><a href="#" class="main-btn btn-red-dark">get free quote</a></li>
                                <li class="navbar-toggle-btn">
                                    <div class="navbar-toggler">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--====== End Header Section ======-->
        <!--====== Start Hero Section ======-->
        <section class="hero-area">
            <div class="hero-wrapper-four">
                <img src="assets/images/icon/icon-16.png" class="shape-icon shape-icon-one" alt="">
                <img src="assets/images/icon/icon-15.png" class="shape-icon shape-icon-two" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-lg-first">
                            <div class="hero-content">
                                <span class="sub-title">Support across all channels</span>
                                <h1>Choose The Best 
                                    Support Ticketing</h1>
                                <p>Sed perspiciatis unde omnis natus voluptate accusantiuy 
                                    doloreue laudantium totam rem aperiam eaque quae aitore 
                                    veritatis quasi architecto beatae vitae</p>
                                <ul class="button">
                                    <li><a href="{% url 'about' %}" class="main-btn btn-blue-dark">get started</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=vTm7t9JBGfM&t=39s" class="video-popup">
                                        <div class="icon">
                                            <i class="fas fa-play"></i>
                                        </div>
                                        <span>How it works</span>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-last">
                            <div class="hero-img">
                                <img src="assets/images/hero/hero-4_img-1.png" alt="Hero Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Hero Section ======-->
        <!--====== Start Features Section ======-->
        <section class="features-area features-style-four light-gray-bg pt-120 pb-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-three text-center mb-50">
                            <span class="sub-title">why choose us</span>
                            <h2>Omnichannel support experience 
                                enhanced, with Freshdesk!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-ten animate-icon text-center mb-40">
                            <div class="icon">
                                <i class="flaticon-customer-service-1"></i>
                            </div>
                            <div class="text">
                                <h4>Support All Channels</h4>
                                <p>Sed ut perspiciatis unde 
                                    oniste atus error volutatem
                                     accusu dolore lauda</p>
                                <a href="{% url 'service1' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-ten animate-icon text-center mb-40">
                            <div class="icon">
                                <i class="flaticon-interactive"></i>
                            </div>
                            <div class="text">
                                <h4>Faster Resolution</h4>
                                <p>Sed ut perspiciatis unde 
                                    oniste atus error volutatem
                                     accusu dolore lauda</p>
                                <a href="{% url 'service1' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-ten animate-icon text-center mb-40">
                            <div class="icon">
                                <i class="flaticon-search"></i>
                            </div>
                            <div class="text">
                                <h4>Context Touchpoint</h4>
                                <p>Sed ut perspiciatis unde 
                                    oniste atus error volutatem
                                     accusu dolore lauda</p>
                                <a href="{% url 'service1' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-ten animate-icon text-center mb-40">
                            <div class="icon">
                                <i class="flaticon-24-hours"></i>
                            </div>
                            <div class="text">
                                <h4>Omniroute Lifting</h4>
                                <p>Sed ut perspiciatis unde 
                                    oniste atus error volutatem
                                     accusu dolore lauda</p>
                                <a href="{% url 'service1' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Features Section ======-->
        <!--====== Start Fancy Text block Section ======-->
        <section class="fancy-text-block fancy-text-block-four pt-130 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="img-holder mb-50">
                            <img src="assets/images/block/gallery-3.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-wrapper mb-50">
                            <div class="section-title section-title-three mb-20">
                                <span class="sub-title">Designed to boost </span>
                                <h2>What Customers Think 
                                    About Of HelpDesk</h2>
                            </div>
                            <div class="block-style-eleven">
                                <div class="text">
                                    <h5>Tracking Made Easy</h5>
                                    <p>Sed ut perspiciatis unde oniste atus errorvo
                                    lutatem accusu dolore lauda</p>
                                </div>
                            </div>
                            <div class="block-style-eleven">
                                <div class="text">
                                    <h5>Support Portal Refelts Business</h5>
                                    <p>Sed ut perspiciatis unde oniste atus errorvo
                                    lutatem accusu dolore lauda</p>
                                </div>
                            </div>
                            <div class="block-style-eleven">
                                <div class="text">
                                    <h5>Collaborate Effectively</h5>
                                    <p>Sed ut perspiciatis unde oniste atus errorvo
                                    lutatem accusu dolore lauda</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Fancy Text block Section ======-->
        <!--====== Start CTA Section ======-->
        <section class="cta-area cta-style-two pb-130">
            <div class="container">
                <div class="cta-wrapper">
                    <img src="assets/images/icon/shape-1.png" class="shape-icon shape-icon-one" alt="">
                    <img src="assets/images/icon/shape-2.png" class="shape-icon shape-icon-two" alt="">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="cta-content-box">
                                <div class="section-title section-title-three mb-15">
                                    <span class="sub-title">Designed to boost</span>
                                    <h2>Collaboration With Live 
                                        Chat to Muntech</h2>
                                </div>
                                <p>Sed perspiciatis unde omnis natus voluptate accusantiuy 
                                    doloreue laudantium totam aperiam eaque</p>
                                <form>
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                        <button class="main-btn">sign up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="cta-img"><img src="assets/images/block/gallery-4.png" alt="Image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End CTA Section ======-->
        <!--====== Start Fancy Text block Section ======-->
        <section class="fancy-text-block fancy-text-block-five pb-80">
            <div class="container">
                <div class="row fancy-block-wrapper align-items-center">
                    <div class="col-lg-7">
                        <div class="img-holder mb-50">
                            <img src="assets/images/block/gallery-5.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-wrapper mb-50">
                            <div class="section-title section-title-three mb-30">
                                <span class="sub-title">What you can we do</span>
                                <h2>Manage Your Email & Data
                                    Communication Tasks</h2>
                            </div>
                            <div class="block-style-twelve animate-icon d-flex mb-35">
                                <div class="icon">
                                    <i class="flaticon-online-chat"></i>
                                </div>
                                <div class="text">
                                    <h5>Make Better Decisions Based on Data</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem aperiam, eaque ipsa quae abillo</p>
                                </div>
                            </div>
                            <div class="block-style-twelve animate-icon d-flex mb-35">
                                <div class="icon">
                                    <i class="flaticon-meeting"></i>
                                </div>
                                <div class="text">
                                    <h5>Make Better Decisions Based on Data</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem aperiam, eaque ipsa quae abillo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fancy-block-wrapper align-items-center">
                    <div class="col-lg-7">
                        <div class="img-holder mb-50">
                            <img src="assets/images/block/gallery-6.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-wrapper mb-50">
                            <div class="section-title section-title-three mb-30">
                                <span class="sub-title">What you can we do</span>
                                <h2>Manage Your Email & Data
                                    Communication Tasks</h2>
                            </div>
                            <div class="block-style-twelve animate-icon d-flex mb-35">
                                <div class="icon">
                                    <i class="flaticon-online-chat"></i>
                                </div>
                                <div class="text">
                                    <h5>Automate Repetitive Tasks</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem aperiam, eaque ipsa quae abillo</p>
                                </div>
                            </div>
                            <div class="block-style-twelve animate-icon d-flex mb-35">
                                <div class="icon">
                                    <i class="flaticon-meeting"></i>
                                </div>
                                <div class="text">
                                    <h5>Customize Your Address & Dashboard</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem aperiam, eaque ipsa quae abillo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Fancy Text block Section ======-->
        <!--====== Start Counter Section ======-->
        <section class="counter-area counter-style-two pb-130">
            <div class="container">
                <div class="counter-wrapper">
                    <img src="assets/images/icon/shape-3.png" alt="" class="shape-icon shape-icon-one">
                    <img src="assets/images/icon/shape-4.png" alt="" class="shape-icon shape-icon-two">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                            <div class="counter-item text-center">
                                <div class="icon">
                                    <i class="flaticon-document"></i>
                                </div>
                                <h2 class="number"><span class="count">256</span>+</h2>
                                <p>Happy Customer</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                            <div class="counter-item text-center">
                                <div class="icon">
                                    <i class="flaticon-rating"></i>
                                </div>
                                <h2 class="number"><span class="count">75</span>+</h2>
                                <p>Happy Customer</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                            <div class="counter-item text-center">
                                <div class="icon">
                                    <i class="flaticon-dashboard-1"></i>
                                </div>
                                <h2 class="number"><span class="count">89</span>+</h2>
                                <p>Happy Customer</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                            <div class="counter-item text-center">
                                <div class="icon">
                                    <i class="flaticon-trophy"></i>
                                </div>
                                <h2 class="number"><span class="count">9</span>+</h2>
                                <p>Happy Customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Counter Section ======-->
        <!--====== Start Testimonial Section ======-->
        <section class="testimonial-style-three position-relative bg_cover" style="background-image: url(assets/images/bg/testimonial-bg-1.jpg);">
            <div class="testimonial-bg bg_cover" style="background-image: url(assets/images/bg/testimonial-bg-3.jpg);"></div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-6">
                        <div class="text-wrapper pt-120 pb-130">
                            <div class="section-title mb-45">
                                <span class="sub-title blue-dark">Clients feedback</span>
                                <h2>What Clients Say About
                                    Muntech Supports</h2>
                            </div>
                            <div class="testimonial-slider-three">
                                <div class="testimonial-item">
                                    <div class="wt-content">
                                        <p>On the other hand we denounce withs righteous indignation and dislike meny who are so beguile and demoralized by the charms of pleasure moment so blin
                                            ded desire that they cannot foresee the pain and trouble that are bounde</p>
                                    </div>
                                    <div class="author-title-thumb d-flex mt-30">
                                        <div class="author-thumb">
                                            <img src="assets/images/testimonial/user-5.jpg" alt="user image">
                                        </div>
                                        <div class="author-title flex-grow-1">
                                            <h3>Norman E. Beeks</h3>
                                            <p class="position">Web Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="wt-content">
                                        <p>On the other hand we denounce withs righteous indignation and dislike meny who are so beguile and demoralized by the charms of pleasure moment so blin
                                            ded desire that they cannot foresee the pain and trouble that are bounde</p>
                                    </div>
                                    <div class="author-title-thumb d-flex mt-30">
                                        <div class="author-thumb">
                                            <img src="assets/images/testimonial/user-5.jpg" alt="user image">
                                        </div>
                                        <div class="author-title flex-grow-1">
                                            <h3>Norman E. Beeks</h3>
                                            <p class="position">Web Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-arrows"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== Start Testimonial Section ======-->
        <!--====== Start Clients Section ======-->
        <section class="clients-area clients-style-four  pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title section-title-three text-center mb-65">
                            <span class="sub-title">popular clients</span>
                            <h2>We Have More Then <span class="red-dark">36254+</span> 
                                Golden Trusted Partner</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/12.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/13.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/14.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/15.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/16.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/17.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/18.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="client-item mb-80 text-center">
                            <div class="client-img">
                                <img src="assets/images/clients/19.png" alt="clients image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Clients Section ======-->
        {% endblock %}
        <!--====== script ======-->
        {% block script %}
        
        {% endblock %}