<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    {% block body %}
        <!--====== Start Hero Section ======-->
        <section class="hero-area">
            <div class="hero-wrapper-five">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="hero-content">
                                <h1>Web Design 
                                    & Development
                                    Agency</h1>
                                <ul class="list-style-one list-circle-blue-light">
                                    <li>Creative Team Member</li>
                                    <li>Professional Services</li>
                                    <li>Co-Working Space</li>
                                    <li>Digital Marketing</li>
                                </ul>
                                <ul class="button">
                                    <li><a href="{% url 'index' %}" class="main-btn btn-orange-dark">get started</a></li>
                                    <li><a href="{% url 'about' %}" class="main-btn btn-blue-light">explore more</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="hero-img">
                                <img src="assets/images/hero/hero-5_img-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Hero Section ======-->
        <!--====== Start Service Section ======-->
        <section class="service-area pt-120 pb-85">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center mb-65">
                            <span class="sub-title blue-light">what we offer</span>
                            <h2>Omnichannel support experience 
                                enhanced, with Freshdesk!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-thirteen animate-icon mb-40">
                            <div class="icon dark-green-bg">
                                <i class="far fa-puzzle-piece"></i>
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="{% url 'servicedetails' %}">IT Consulting</a></h3>
                                <ul class="list">
                                    <li>Customer Experience</li>
                                    <li>Information Architecture</li>
                                    <li>Content Strategy</li>
                                    <li>Operational Workflow</li>
                                    <li>Technical Consultation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-thirteen animate-icon mb-40">
                            <div class="icon red-dark-bg">
                                <i class="far fa-bezier-curve"></i>
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Web Design</a></h3>
                                <ul class="list">
                                    <li>Customer Experience</li>
                                    <li>Information Architecture</li>
                                    <li>Content Strategy</li>
                                    <li>Operational Workflow</li>
                                    <li>Technical Consultation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-thirteen animate-icon mb-40">
                            <div class="icon blue-light-bg">
                                <i class="far fa-mobile-alt"></i>
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="{% url 'servicedetails' %}">App Development</a></h3>
                                <ul class="list">
                                    <li>Android App Development</li>
                                    <li>Iphone Development</li>
                                    <li>Web & App Solutions</li>
                                    <li>Corporate Development</li>
                                    <li>Technical Solutions</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="block-style-thirteen animate-icon mb-40">
                            <div class="icon dark-yellow-bg">
                                <i class="far fa-laptop-code"></i>
                            </div>
                            <div class="text">
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Web Development</a></h3>
                                <ul class="list">
                                    <li>WordPress Themes</li>
                                    <li>Php Advance Support</li>
                                    <li>HTML & CSS Coding</li>
                                    <li>Web Solutions</li>
                                    <li>Technical Supports</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Service Section ======-->
        <!--====== Start About Section ======-->
        <section class="fancy-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="assets/images/about/about-8.png" alt="About Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-wrapper">
                            <div class="section-title mb-30">
                                <span class="sub-title blue-light">about company</span>
                                <h2>We’re Digital Web Design and 
                                    Development Agency</h2>
                            </div>
                            <blockquote class="quote-content quote-blue-light mb-50">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
                                antium doloremue laudantium totam rem aperiam eaque ipsa quaeabe inventore veritatis et quasi architecto beatae vitae dicta sunt
                            </blockquote>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="block-style-twentyThree d-flex mb-40">
                                        <div class="icon">
                                            <i class="far fa-layer-plus"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Mission & Vision</h4>
                                            <p>Sorem amet conse ctetur 
                                                adipiscing elitse eiusmotem
                                                incididunt labore dolore</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="block-style-twentyThree d-flex mb-40">
                                        <div class="icon">
                                            <i class="far fa-medal"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Company Goals</h4>
                                            <p>Sorem amet conse ctetur 
                                                adipiscing elitse eiusmotem
                                                incididunt labore dolore</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End About Section ======-->
        <!--====== Start Counter Section ======-->
        <section class="counter-area counter-style-six position-relative">
            <div class="container-1350">
                <div class="counter-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-wrapper">
                                <div class="counter-item d-flex mb-50">
                                    <div class="icon mr-25">
                                        <i class="fal fa-shield-cross"></i>
                                    </div>
                                    <div class="text">
                                        <h2><span class="count">3025</span><span class="sign">+</span><span class="title">Project Complate</span></h2>
                                        <p>Sorem amet conse ctetur adipiscing elitse eiusmotem incididunt labore dolore</p>
                                    </div>
                                </div>
                                <div class="counter-item d-flex mb-50">
                                    <div class="icon mr-25">
                                        <i class="fal fa-user-chart"></i>
                                    </div>
                                    <div class="text">
                                        <h2><span class="count">4523</span><span class="sign">+</span><span class="title">Project Complate</span></h2>
                                        <p>Sorem amet conse ctetur adipiscing elitse eiusmotem incididunt labore dolore</p>
                                    </div>
                                </div>
                                <div class="counter-item d-flex mb-50">
                                    <div class="icon mr-25">
                                        <i class="fal fa-trophy-alt"></i>
                                    </div>
                                    <div class="text">
                                        <h2><span class="count">7856</span><span class="sign">+</span><span class="title">Project Complate</span></h2>
                                        <p>Sorem amet conse ctetur adipiscing elitse eiusmotem incididunt labore dolore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="img-holder">
                                <img src="assets/images/features//counter-img-1.webp" alt="">
                                <div class="img-overlay"></div>
                                <div class="play-content">
                                    <a href="https://www.youtube.com/watch?v=vTm7t9JBGfM&t=39s" class="video-popup"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Counter Section ======-->
        <!--====== Start Team Section ======-->
        <section class="team-area team-style-three pb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center mb-60">
                            <span class="sub-title blue-light">Meet our teams</span>
                            <h2>We’ve Experience Team Member 
                                To Provide Solutions</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item mb-40 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/img_15.webp" alt="Image">
                                <div class="team-hover">
                                    <div class="team-social">
                                        <ul class="social-link">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamdetails' %}">Michael C. Skinner Silva</a></h3>
                                <p class="position">Sr Web Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item mb-40 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/img_16.webp" alt="Image">
                                <div class="team-hover">
                                    <div class="team-social">
                                        <ul class="social-link">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamdetails' %}">David George N. Butler</a></h3>
                                <p class="position">Sr Web Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item mb-40 text-center">
                            <div class="team-img">
                                <img src="assets/images/team/img_17.webp" alt="Image">
                                <div class="team-hover">
                                    <div class="team-social">
                                        <ul class="social-link">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3 class="title"><a href="{% url 'teamdetails' %}">Matthew M. Armstead</a></h3>
                                <p class="position">Sr Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Team Section ======-->
        <!--====== Start portfolio Section ======-->
        <section class="portfolio-area pt-120 pb-130" id="masonry-project">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title mb-60">
                            <span class="sub-title blue-light">latest work gallery</span>
                            <h2>We’ve Done 3625+ Project
                                Let’s See Gallery</h2>
                        </div>
                    </div>
                </div>
                <div class="row masonry-row">
                    <div class="col-lg-6 portfolio-column">
                        <div class="portfolio-block-four bg-one text-center">
                            <div class="portfolio-img">
                                <img src="assets/images/projects/project-13.webp" alt="portfolio image">
                                <div class="portfolio-hover">
                                    <div class="hover-content">
                                        <a href="assets/images/projects/project-13.webp" class="img-popup"><i class="far fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html">IT Company Web Template</a></h3>
                                <span class="category">Template Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 portfolio-column">
                        <div class="portfolio-block-four bg-two text-center">
                            <div class="portfolio-img">
                                <img src="assets/images/projects/project-14.webp" alt="portfolio image">
                                <div class="portfolio-hover">
                                    <div class="hover-content">
                                        <a href="assets/images/projects/project-13.webp" class="img-popup"><i class="far fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html">Software Company Template</a></h3>
                                <span class="category">Template Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 portfolio-column">
                        <div class="portfolio-block-four bg-three text-center">
                            <div class="portfolio-img">
                                <img src="assets/images/projects/project-15.webp" alt="portfolio image">
                                <div class="portfolio-hover">
                                    <div class="hover-content">
                                        <a href="assets/images/projects/project-13.webp" class="img-popup"><i class="far fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html">App Landing Web Template</a></h3>
                                <span class="category">Template Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 portfolio-column">
                        <div class="portfolio-block-four bg-four text-center">
                            <div class="portfolio-img">
                                <img src="assets/images/projects/project-16.webp" alt="portfolio image">
                                <div class="portfolio-hover">
                                    <div class="hover-content">
                                        <a href="assets/images/projects/project-13.webp" class="img-popup"><i class="far fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <h3 class="title"><a href="project-details.html">IT Agency Web Template</a></h3>
                                <span class="category">Template Design</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button mt-50 text-center">
                            <a href="project-1.html" class="main-btn btn-orange-dark">View more gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Projects Section ======-->
        <!--====== Start CTA Section ======-->
        <section class="cta-area cta-style-six">
            <div class="container">
                <div class="cta-wrapper">
                    <img src="assets/images/icon/shape-5.png" class="shape-icon shape-icon-one" alt="">
                    <img src="assets/images/icon/shape-6.png" class="shape-icon shape-icon-two" alt="">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="cta-content-box">
                                <div class="section-title section-title-white mb-20">
                                    <span class="sub-title text-white">need any Project ?</span>
                                    <h2>Ready To Work With Us
                                        For Web Solutions ?</h2>
                                </div>
                                <p>Sed ut perspiciatis unde omnis iste natus erroluptatem accus antium doloremue laudantium totam</p>
                                <a href="project-details.html" class="main-btn filled-btn">Get free quote</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cta-img">
                                <img src="assets/images/features/cta-img-1.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End CTA Section ======-->
        <!--====== Start fancy text block Section ======-->
        <section class="fancy-text-block fancy-text-block-six pt-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="img-holder mb-40">
                            <img src="assets/images/block/gallery-7.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-wrapper mb-40">
                            <div class="section-title mb-45">
                                <span class="sub-title blue-light">Manage solutions</span>
                                <h2>Simple Solutions For All Kinds
                                    Of Web Design Development</h2>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
                                antium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia</p>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="fancy-box-item bg-one">
                                        <div class="icon">
                                            <i class="flaticon-curve"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Web Design</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="fancy-box-item bg-two">
                                        <div class="icon">
                                            <i class="flaticon-coding"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Development</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="fancy-box-item bg-three">
                                        <div class="icon">
                                            <i class="flaticon-cyber-security-1"></i>
                                        </div>
                                        <div class="text">
                                            <h5>Cyber Security</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End fancy text block Section ======-->
        <!--====== Start FAQS Section ======-->
        <section class="faq-area faq-style-one pt-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-content-box">
                            <div class="section-title mb-50">
                                <span class="sub-title blue-light">Have Any questions ?</span>
                                <h2>Have Any Question On Mind!
                                    Asked Questions ?</h2>
                            </div>
                            <div class="faq-accordian">
                                <div class="accordion" id="accordianOne">
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                                                Create An Engaging And Useful Chatbot
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                                                Design To Developer-Friendly React Code
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                                Making Remote Work Work Useful
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordianOne">
                                            <div class="card-body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quase</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-img text-lg-right text-sm-center">
                            <img src="assets/images/features/faq-1.png" alt="Faq Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End FAQS Section ======-->
        <!--====== Start Testimonial Section ======-->
        <div class="testimonial-style-four position-relative pt-190">
            <div class="container">
                <div class="section-title section-title-white">
                    <span class="sub-title text-white">Clients testimonials</span>
                    <h2>What Our Clients Say <br>
                        About Solutions</h2>
                </div>
            </div>
            <div class="testimonial-wrapper d-flex align-items-center">
                <div class="img-holder">
                    <img src="assets/images/bg/testimonial-bg-4.webp" alt="">
                </div>
                <div class="text-wrapper">
                    <div class="testimonial-slider-four">
                        <div class="testimonial-item mb-50">
                            <div class="wt-content">
                                <p>Sed ut persiciatis undente natus error sit voluptatem sant doloremque laudantiu aperi eaque quae inventorecy
                                    tatis quasi architecto beavit dicta explica enime</p>
                            </div>
                            <div class="author-title-thumb d-flex mt-30">
                                <div class="author-thumb mr-20">
                                    <img src="assets/images/testimonial/thumb-3.webp" alt="user image">
                                </div>
                                <div class="author-title flex-grow-1">
                                    <h3>Norman E. Beeks</h3>
                                    <p class="position">Web Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item mb-50">
                            <div class="wt-content">
                                <p>Sed ut persiciatis undente natus error sit voluptatem sant doloremque laudantiu aperi eaque quae inventorecy
                                    tatis quasi architecto beavit dicta explica enime</p>
                            </div>
                            <div class="author-title-thumb d-flex mt-30">
                                <div class="author-thumb mr-20">
                                    <img src="assets/images/testimonial/thumb-4.webp" alt="user image">
                                </div>
                                <div class="author-title flex-grow-1">
                                    <h3>Walter G. Edmond</h3>
                                    <p class="position">Web Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item mb-50">
                            <div class="wt-content">
                                <p>Sed ut persiciatis undente natus error sit voluptatem sant doloremque laudantiu aperi eaque quae inventorecy
                                    tatis quasi architecto beavit dicta explica enime</p>
                            </div>
                            <div class="author-title-thumb d-flex mt-30">
                                <div class="author-thumb mr-20">
                                    <img src="assets/images/testimonial/thumb-5.webp" alt="user image">
                                </div>
                                <div class="author-title flex-grow-1">
                                    <h3>Francisco D. Ramirez</h3>
                                    <p class="position">Web Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item mb-50">
                            <div class="wt-content">
                                <p>Sed ut persiciatis undente natus error sit voluptatem sant doloremque laudantiu aperi eaque quae inventorecy
                                    tatis quasi architecto beavit dicta explica enime</p>
                            </div>
                            <div class="author-title-thumb d-flex mt-30">
                                <div class="author-thumb mr-20">
                                    <img src="assets/images/testimonial/thumb-4.webp" alt="user image">
                                </div>
                                <div class="author-title flex-grow-1">
                                    <h3>Walter G. Edmond</h3>
                                    <p class="position">Web Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--====== End Testimonial Section ======-->
        <!--====== Start Blog Section ======-->
        <section class="blog-area blog-style-three pt-120 pb-90">
            <div class="container">
                <div class="row justify-content-center mb-50">
                    <div class="col-lg-6">
                        <div class="section-title text-center">
                            <span class="sub-title blue-light">Latest news & blog</span>
                            <h2>Get Every Single Updates
                                Articles & Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="blog-post-item mb-40">
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-user-circle"></i><a href="#">Patrick Hopson</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="{% url 'blogDetails' %}">How To Port Your Web App To Microsoft</a></h3>
                                <p>Consectetur adipiscing elsed do eiusmod tempor incididunt labore et dolore magna</p>
                                <a href="{% url 'blogDetails' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="blog-post-item mb-40">
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-user-circle"></i><a href="#">Patrick Hopson</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="{% url 'blogDetails' %}">Wall Papers For Bruary  Little Creativity</a></h3>
                                <p>Consectetur adipiscing elsed do eiusmod tempor incididunt labore et dolore magna</p>
                                <a href="{% url 'blogDetails' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="blog-post-item mb-40">
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-user-circle"></i><a href="#">Patrick Hopson</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="{% url 'blogDetails' %}">Designing Better Tools
                                    For Mobile User</a></h3>
                                <p>Consectetur adipiscing elsed do eiusmod tempor incididunt labore et dolore magna</p>
                                <a href="{% url 'blogDetails' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="blog-post-item mb-40">
                            <div class="entry-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><span><i class="far fa-user-circle"></i><a href="#">Patrick Hopson</a></span></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="{% url 'blogDetails' %}">Team’s Comm Uniction Age Remote Work</a></h3>
                                <p>Consectetur adipiscing elsed do eiusmod tempor incididunt labore et dolore magna</p>
                                <a href="{% url 'blogDetails' %}" class="btn-link">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Blog Section ======-->
        <!--====== Start Clients Section ======-->
        <section class="clients-area clients-style-three pt-65 pb-65">
            <div class="container">
                <div class="clients-slider-two">
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/images/clients/20.png" alt="clients image">
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/images/clients/21.png" alt="clients image">
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/images/clients/22.png" alt="clients image">
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/images/clients/23.png" alt="clients image">
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/images/clients/24.png" alt="clients image">
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-img">
                            <img src="assets/images/clients/23.png" alt="clients image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Clients Section ======-->
        {% endblock %}
        <!--====== script ======-->
        {% block script %}
        
        {% endblock %}